<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>News App</title>
</head>

<body>
    <div class="header">
        <a href="/">NEWS APP</a>
        <form class="search-bar" action="{% url 'query' %}" method="GET">
            <input id="query" name="query" type="search" placeholder="Search by keyword..."/>
            <!-- <input id="btn" type="submit"/> -->
        </form>
        <select>
            <option>India</option>
            <option>India</option>
            <option>India</option>
            <option>India</option>
        </select>
    </div>
    <div class="container">

        {% for r in res.articles %}
        <div class="news-card">
            <div class="img-container">
                <img src="{{r.urlToImage}}"
                    alt="news" />
            </div>
            <div class="subpart">
                <h3>{{r.title}}</h3>
                <p>{{r.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>

        // const query = document.getElementById('query').value

    </script>

</body>

</html>